{
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "trailingComma": "es5"
}
